@page "/"
@using display_stats.Data
@inject IConfiguration Configuration
@inject ServerStatusService serverStatusService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*<TestComponent UpdateSeconds=1 />*@

@foreach (string server in serverStatusService.ServerNames)
{
    <ServerOnlineStatus ServerName=@server />
}

@code {
    //private string[] servers;

    //protected override async Task OnInitializedAsync()
    //{
        
    //}
}
