@using display_stats.Data
@inject ServerStatusService serverStatusService

<div style="display:flex; flex-direction: row;"><h1 style="margin-right: 1em">@info.DisplayName</h1><ServerOnlineStatus ServerName=@ServerName ShowLabel=@false /></div>

@if (status is not null && status.IsOnline)
{
    if (info.HasSlurm)
    {
        <SlurmState Info=info Status="(SlurmServerStatus)status" />
    }
    else
    {
        <RegularState Info=info Status="(RegularServerStatus)status" />
    }
}

@code {
    [Parameter, EditorRequired]
    public string ServerName { get; set; }

    private ServerInfo info;
    private ServerStatus status;

    protected override async Task OnInitializedAsync()
    {
        info = serverStatusService.GetServerInfo(ServerName);
        status = await serverStatusService.GetServerStatus(ServerName);
    }
}
